<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    Dragoid | Read Chapter - <%= title %>
  </title>
  <link rel="stylesheet" href="/assets/css/global.css">
  <link rel="stylesheet" href="/assets/css/chapter.css">
  <link rel="shortcut icon" href="/assets/img/icon.svg" type="image/svg">
</head>

<body>
  <header class="header">
    <div class="bradcrumb">
      <a href="/">Homepage</a>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"   style="width: 16px;height: 16px;"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M9 6l6 6l-6 6"></path></svg>
      <span>
        <%= title %>
      </span>
    </div>
  </header>

  <main class="page">
    <section>
      <h1>
        <%= title %>
      </h1>
      <div class="content">
        <% for(var i=0; i<content.length; i++) { %>
          <p>
            <%= content[i] %>
          </p>
          <% } %>
      </div>
      <div class="navigation-chapters">
        <a href="/chapter/?id=<%= chapter_prev_id %>"
          data-disabled="<%= chapter_prev_id === null ? 'true' : 'false' %>">
          Prev chapter
        </a>
        <div class="divider"></div>
        <a href="/chapter/?id=<%= chapter_next_id %>"
          data-disabled="<%= chapter_next_id === null ? 'true' : 'false' %>">
          Next chapter
        </a>
      </div>

      <div class="navigation-chapters-default">
        <a href="/chapter/?id=<%= chapter_prev_id %>"
          data-disabled="<%= chapter_prev_id === null ? 'true' : 'false' %>">
          Prev chapter
        </a>
        <div class="divider"></div>
        <a href="/chapter/?id=<%= chapter_next_id %>"
          data-disabled="<%= chapter_next_id === null ? 'true' : 'false' %>">
          Next chapter
        </a>
      </div>
    </section>
  </main>

  <script type="module" src="/assets/js/chapter.js"></script>
</body> 
</html>