<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    Dragoid | Read Chapter - <%= title %>
  </title>
  <link rel="stylesheet" href="/assets/css/global.css">
  <link rel="stylesheet" href="/assets/css/chapter.css">
  <link rel="shortcut icon" href="/assets/img/icon.svg" type="image/svg">
</head>

<body>
  <header class="header">
    <div class="bradcrumb">
      <a href="/">Homepage</a>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        style="width: 16px;height: 16px;">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M9 6l6 6l-6 6"></path>
      </svg>
      <span>
        <%= title %>
      </span>
    </div>
  </header>

  <main class="page">
    <section>
      <h1>
        <%= title %>
      </h1>
      <div class="content">
        <% for(var i=0; i<content.length; i++) { %>
          <p>
            <%= content[i] %>
          </p>
          <% } %>
      </div>
      <div class="navigation-chapters">
        <a class="option" href="/chapter/?id=<%= chapter_prev_id %>" title="Prev chapter"
          data-disabled="<%= chapter_prev_id === null ? 'true' : 'false' %>">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M11 7l-5 5l5 5" />
            <path d="M17 7l-5 5l5 5" />
          </svg>
          <span>Prev</span>
        </a>
        <button class="option button-mcc">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M12 21h-7a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v7" />
            <path d="M3 10h18" />
            <path d="M10 3v18" />
            <path d="M19.001 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
            <path d="M19.001 15.5v1.5" />
            <path d="M19.001 21v1.5" />
            <path d="M22.032 17.25l-1.299 .75" />
            <path d="M17.27 20l-1.3 .75" />
            <path d="M15.97 17.25l1.3 .75" />
            <path d="M20.733 20l1.3 .75" />
          </svg>
        </button>
        <a class="option" href="/chapter/?id=<%= chapter_next_id %>" title="Next chapter"
          data-disabled="<%= chapter_next_id === null ? 'true' : 'false' %>">
          <span>Next</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M7 7l5 5l-5 5" />
            <path d="M13 7l5 5l-5 5" />
          </svg>
        </a>
      </div>

      <!-- Chapter Footer Navigation -->
      <div class="navigation-chapters-default">
        <a href="/chapter/?id=<%= chapter_prev_id %>"
          data-disabled="<%= chapter_prev_id === null ? 'true' : 'false' %>">
          Prev chapter
        </a>
        <div class="divider"></div>
        <a href="/chapter/?id=<%= chapter_next_id %>"
          data-disabled="<%= chapter_next_id === null ? 'true' : 'false' %>">
          Next chapter
        </a>
      </div>
    </section>
  </main>

  <div class="dialog" data-hidden="true">
    <div class="inner">
      <div class="dialog-header">
        <h3>Chapter style</h3>
        <button class="close-dialog">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M18 6l-12 12" />
            <path d="M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="dialog-content">
        <div class="group">
          <label for="font-size">Font size</label>
          <select name="options" id="font-size">
            <option value="16">16</option>
            <option value="18">18</option>
            <option value="20">20</option>
            <option value="22">22</option>
            <option value="24">24</option>
            <option value="26">26</option>
            <option value="28">28</option>
            <option value="30">30</option>
            <option value="32">32</option>
          </select>
        </div>
        <div class="group">
          <label for="line-height">Line height</label>
          <select name="line-height" id="line-height">
            <option value="24">24</option>
            <option value="26">26</option>
            <option value="28">28</option>
            <option value="30">30</option>
            <option value="32">32</option>
            <option value="34">34</option>
            <option value="36">36</option>
            <option value="38">38</option>
            <option value="40">40</option>
          </select>
        </div>
        <div class="group">
          <label for="paragraph-gap">Paragraph gap</label>
          <select name="paragraph-gap" id="paragraph-gap">
            <option value="32">32</option>
            <option value="36">36</option>
            <option value="40">40</option>
            <option value="48">48</option>
            <option value="52">52</option>
            <option value="56">56</option>
            <option value="60">60</option>
            <option value="64">64</option>
          </select>
        </div>
      </div>
      <div class="dialog-footer">
        <button class="dialog-submit">Save changes</button>
      </div>
    </div>
  </div>

  <script type="module" src="/assets/js/chapter.js"></script>
</body>

</html>