<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    Dragoid | Read Chapter - <%= title %>
  </title>
  <link rel="stylesheet" href="/assets/css/global.css">
  <link rel="stylesheet" href="/assets/css/chapter.css">
  <link rel="shortcut icon" href="<%=favicon_path%>" type="image/svg">
</head>

<body>
  <header class="header">
    <div class="bradcrumb">
      <a href="/">Homepage</a>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        style="width: 16px;height: 16px;">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M9 6l6 6l-6 6"></path>
      </svg>
      <span>
        <%= title %>
      </span>
    </div>
  </header>

  <main class="page">
    <section>
      <h1>
        <%= title %>
      </h1>
      <div class="content">
        <% for(var i=0; i<content.length; i++) { %>
          <p>
            <%= content[i] %>
          </p>
          <% } %>
      </div>
      <div class="floating-navigation">
        <a class="option" href="/chapter/?id=<%= chapter_prev_id %>" title="Prev chapter"
          data-disabled="<%= chapter_prev_id === null ? 'true' : 'false' %>">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M11 7l-5 5l5 5" />
            <path d="M17 7l-5 5l5 5" />
          </svg>
          <span>Prev</span>
        </a>
        <button class="option btn-open-replacement-modal" title="Manage Substitutions">
          <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M16 21h3c.81 0 1.48 -.67 1.48 -1.48l.02 -.02c0 -.82 -.69 -1.5 -1.5 -1.5h-3v3z" /><path d="M16 15h2.5c.84 -.01 1.5 .66 1.5 1.5s-.66 1.5 -1.5 1.5h-2.5v-3z" /><path d="M4 9v-4c0 -1.036 .895 -2 2 -2s2 .964 2 2v4" /><path d="M2.99 11.98a9 9 0 0 0 9 9m9 -9a9 9 0 0 0 -9 -9" /><path d="M8 7h-4" /></svg>
        </button>
        <button class="option toggle-dialog-chapter-list">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M9 6l11 0" />
            <path d="M9 12l11 0" />
            <path d="M9 18l11 0" />
            <path d="M5 6l0 .01" />
            <path d="M5 12l0 .01" />
            <path d="M5 18l0 .01" />
          </svg>
        </button>
        <button class="option button-mcc">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z" />
            <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
          </svg>
        </button>
        <a class="option" href="/chapter/?id=<%= chapter_next_id %>" title="Next chapter"
          data-disabled="<%= chapter_next_id === null ? 'true' : 'false' %>">
          <span>Next</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M7 7l5 5l-5 5" />
            <path d="M13 7l5 5l-5 5" />
          </svg>
        </a>
      </div>

      <!-- Chapter Footer Navigation -->
      <div class="navigation">
        <a href="/chapter/?id=<%= chapter_prev_id %>"
          data-disabled="<%= chapter_prev_id === null ? 'true' : 'false' %>">
          Prev chapter
        </a>
        <div class="divider"></div>
        <button class="option toggle-dialog-chapter-list">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M9 6l11 0" />
            <path d="M9 12l11 0" />
            <path d="M9 18l11 0" />
            <path d="M5 6l0 .01" />
            <path d="M5 12l0 .01" />
            <path d="M5 18l0 .01" />
          </svg>
        </button>
        <div class="divider"></div>
        <a href="/chapter/?id=<%= chapter_next_id %>"
          data-disabled="<%= chapter_next_id === null ? 'true' : 'false' %>">
          Next chapter
        </a>
      </div>
    </section>
  </main>

  <div class="dialog-chapter-list" data-hidden="true">
    <div class="inner-dialog">
      <div class="header">
        <div class="group">
          <h3>Chapters List</h3>
          <span class="chapter_qtd">0</span>
        </div>
        <button class="btn-close-dialog-chapter-list">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M18 6l-12 12" />
            <path d="M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="content">
        <ul id="chapte_list"></ul>
      </div>
    </div>
  </div>

  <div class="dialog" data-hidden="true">
    <div class="inner">
      <div class="dialog-header">
        <h3>Chapter style</h3>
        <button class="close-dialog">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M18 6l-12 12" />
            <path d="M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="dialog-content">
        <div class="group">
          <label for="font-size">Font size</label>
          <select translate="no" translate="no" name="options" id="font-size">
            <option value="16">16</option>
            <option value="18">18</option>
            <option value="20">20</option>
            <option value="22">22</option>
            <option value="24">24</option>
            <option value="26">26</option>
            <option value="28">28</option>
            <option value="30">30</option>
            <option value="32">32</option>
          </select>
        </div>
        <div class="group">
          <label for="line-height">Line height</label>
          <select translate="no" name="line-height" id="line-height">
            <option value="24">24</option>
            <option value="26">26</option>
            <option value="28">28</option>
            <option value="30">30</option>
            <option value="32">32</option>
            <option value="34">34</option>
            <option value="36">36</option>
            <option value="38">38</option>
            <option value="40">40</option>
          </select>
        </div>
        <div class="group">
          <label for="paragraph-gap">Paragraph gap</label>
          <select translate="no" name="paragraph-gap" id="paragraph-gap">
            <option value="32">32</option>
            <option value="36">36</option>
            <option value="40">40</option>
            <option value="48">48</option>
            <option value="52">52</option>
            <option value="56">56</option>
            <option value="60">60</option>
            <option value="64">64</option>
          </select>
        </div>
      </div>
      <div class="dialog-footer">
        <button class="dialog-submit">Save changes</button>
      </div>
    </div>
  </div>

  <link rel="stylesheet" href="/assets/css/components/modal.css">
  <link rel="stylesheet" href="/assets/css/components/modal-replacement.css">
  <script type="module" src="/assets/js/page/chapter.js"></script>
</body>

</html>