<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    Dragoid | Novel - <%= title %>
  </title>
  <link rel="stylesheet" href="/assets/css/global.css">
  <link rel="stylesheet" href="/assets/css/homepage.css">
  <link rel="shortcut icon" href="<%=favicon_path%>" type="image/svg">
</head>

<body>
  <main class="page">
    <div class="cover">
      <div class="heading">
        <div class="thumbnail">
          <img src="data:image/jpeg;base64,<%= thumbnail %>" alt="Thumbnail" title="Thumbnail - <%= title %> "/>
        </div>
        <h1 className="title">
          <%= title %>
        </h1>
        <p class="author" title="Author">
          <%= author %>
        </p>
      </div>

      <div class="info">
        <div class="col">
          <p>Status</p>
          <p>
            <%= status %>
          </p>
        </div>
        <div class="col">
          <p>Number of chapters</p>
          <p>
            <%= chaptersQTD %>
          </p>
        </div>

        <div class="col">
          <p>Language</p>
          <p>
            <%= language %>
          </p>
        </div>
      </div>

      <div class="row">
        <p class="description">
          <%= description %>
        </p>
      </div>

      <a title="project source" href="https://github.com/lucasfernandodev/dragoid" class="project-source-link">
        Project on GitHub
      </a>
    </div>

    <div class="first-chapter">
      <h2 class="title">
        <%= chapterTitle %>
      </h2>
      <div class="content">
        <% for(var i=0; i<chapterContent.length; i++) { %>
          <p>
            <%= chapterContent[i] %>
          </p>
          <% } %>
      </div>
      
      <div class="navigation-chapters">
        <a href="#" data-disabled="true">Prev chapter</a>
        <div class="divider"></div>
        <a
        href="/chapter/?id=1"
        data-disabled="<%= chapter_next_id === null ? 'true' : 'false' %>">
        Next chapter
      </a>
      </div>
    </div>
  </main>

  <script type="module" src="/assets/js/page/homepage.js"></script>
</body>
</html>