<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    Dragoid | Novel - <%= title %>
  </title>
  <link rel="stylesheet" href="/assets/css/global.css">
  <link rel="stylesheet" href="/assets/css/homepage.css">
  <link rel="shortcut icon" href="<%=favicon_path%>" type="image/svg">
</head>

<body>
  <script>
    (function () {
      const root = document.documentElement
      let isActiveDarkTheme = true;
      if (!window.matchMedia('(prefers-color-scheme: dark)').matches) {
        isActiveDarkTheme = false;
      }

      if (window.localStorage.getItem('chapter-style')) {
        try {
          const config = JSON.parse(window.localStorage.getItem('chapter-style'));
          if (typeof config?.isDarkMode !== 'undefined') {
            isActiveDarkTheme = config?.isDarkMode
          }

          const parseValues = (value) => (value / 10).toString()

          // Set fontSize
          if (config?.fontSize) {
            const value = `${parseValues(config?.fontSize)}rem`;
            root.style.setProperty("--font-size", value)
          }

          if (config?.lineHeight) {
            const value = `${parseValues(config?.lineHeight)}rem`;
            root.style.setProperty("--line-height", value)
          }

          if (config?.paragraphGap) {
            const value = `${parseValues(config?.paragraphGap)}rem`;
            root.style.setProperty("--paragraph-gap", value)
          }

          if (config?.fontFamily) {
            root.style.setProperty('--chapter-font-current', `var(${config?.fontFamily})`)
          }

        } catch (error) {
          console.error('Chapter style config found, but invalid')
          window.localStorage.removeItem('chapter-style')
        }
      }

      if (!isActiveDarkTheme) {
        root.classList.add('light')
        root.classList.remove('dark')
      }
    }())
  </script>
  <main class="page">
    <div class="cover">
      <div class="heading">
        <div class="thumbnail">
          <img src="<%= thumbnail %>" alt="Thumbnail" title="Thumbnail - <%= title %> " />
        </div>
        <h1 classe="title">
          <%= title %>
        </h1>
        <p class="author" title="Author - <%= author %>">
          <%= author %>
        </p>
      </div>

      <div class="info">
        <div class="row">
          <div class="col">
            <p>Status</p>
          </div>
          <div class="col">
            <p>Chapters</p>
          </div>
          <div class="col">
            <p>Language</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>
              <%= status %>
            </p>
          </div>
          <div class="col">
            <%= chaptersQTD %>
          </div>
          <div class="col">
            <%= language %>
          </div>
        </div>
      </div>

      <div class="row">
        <p class="sinopse">
          <%= description %>
        </p>
      </div>

      <a title="Novel source" target="_blank" href="<%= source ? source : '#' %>" class="source-link">
        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
          fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6" />
          <path d="M11 13l9 -9" />
          <path d="M15 4h5v5" />
        </svg>
        <span>Source</span>
      </a>
    </div>

    <div class="first-chapter">
      <h2 class="title">
        <%= chapterTitle %>
      </h2>
      <div class="content">
        <% for(var i=0; i<chapterContent.length; i++) { %>
          <p>
            <%= chapterContent[i] %>
          </p>
          <% } %>
      </div>

      <div class="navigation-chapters">
        <a href="#" data-disabled="true">Prev chapter</a>
        <div class="divider"></div>
        <a href="/chapter/?id=1" data-disabled="<%= chapter_next_id === null ? 'true' : 'false' %>">
          Next chapter
        </a>
      </div>
    </div>
  </main>

  <script type="module">
    const lastChar = window.location.href.slice(-1)
    window.dragoid_info = {
      novelTitle: "<%= title %>",
      chapterTitle: "<%= chapterTitle %>",
      chapterUrl: lastChar === '/' ? window.location.href + 'chapter/?id=0' : window.location.href + '/chapter/?id=0'
    }
  </script>

  <script type="module" src="/assets/js/page/homepage.js"></script>
</body>

</html>